@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(#2b1055, #7597de);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}

.header__logo {
  font-size: 28px;
  color: #7597de;
  text-decoration: none;
}

.header__heart {
  color: red;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav a {
  padding: 6px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #f0edee;
  transition: all 380ms linear;
}

.header__nav a.active,
.header__nav a:hover {
  background-color: #ffffff;
  color: #000;
}

.hero {
  max-width: 100%;
  height: 90vh;
  background-image: url("../img/stars.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.hero__heading {
  margin: 0;
  padding-top: 200px;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

@media only screen and (max-width: 685px) {
  .header__nav {
    gap: 10px;
  }

  .header__nav a {
    font-size: 14px;
  }

  .header__logo {
    font-size: 22px;
  }

  .hero__heading {
    padding-top: 160px;
  }
}

@media only screen and (max-width: 549px) {
  .header__nav {
    gap: 0;
  }
}

@media only screen and (max-width: 533px) {
  .header__nav a {
    padding: 6px 8px;
  }

  .hero__heading {
    padding-top: 140px;
  }
}

@media only screen and (max-width: 497px) {
  .hero__heading {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 496px) {
  .container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 468px) {
  .header__logo {
    font-size: 18px;
  }
}

@media only screen and (max-width: 432px) {
  .header__nav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 402px) {
  .header__logo {
    font-size: 16px;
  }
}

@media only screen and (max-width: 386px) {
  .container {
    padding: 0 5px;
  }

  .header__nav a {
    padding: 0 7px;
  }
}

@media only screen and (max-width: 372px) {
  .header__logo {
    font-size: 14px;
  }

  .hero__heading {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 350px) {
  .header__nav a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 322px) {
  .header__logo {
    font-size: 12px;
  }

  .hero__heading {
    font-size: 40px;
  }
}
